* {
    /*outline: solid 1px red;*/
}
@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */
/*a {

}
a:hover {

}
li {
    width: 100px;
    height: 100px; 
    display: block;  

    
}
li:first-child {
    background: lightblue;
    transition: all 2s;    
}
li:first-child:hover{
    background: black;
    transform: translate(100px,0px);
    color: orangered;    
}
li:nth-of-type(2){
    background: aqua;
}
li:nth-of-type(3){
    background: orange;
}
li:last-child{
    background: pink;
}*/

nav {
    display: inline-block;
}
a  {
    text-decoration: none;
    list-style: none;
    
}
li {
    width: 100px;
    height: 100px;
}
.c2 {
    display: none;
}
.c1:hover {
    
}